/* 清除浏览器默认外边距和内边距 */
* {
    margin: 0;
    padding: 0;
    /* 使用内减模式 */
    box-sizing: border-box;
}

/* 去除a标签的下划线 */
a {
    text-decoration: none;
}

/* 去除li标签前面默认的圆点 */
li {
    list-style: none;
}

body {
    background-color: #f3f5f7;
}

/* 版心居中 */
.wrapper {
    margin: 0 auto;
    /* 版心宽度 */
    width: 1200px;
}

.header {
    height: 100px;
    /* background-color: pink; */
    padding-top: 29px;
}

.header .wrapper {
    display: flex;
}

.header .logo {
    margin-right: 102px;
}

.header .logo h1 a {
    display: block;
    width: 195px;
    height: 41px;
    background-image: url(../images/logo.png);
    font-size: 0;
}

.header .nav ul {
    display: flex;
}

.header .nav ul li {
    margin-right: 24px;
}

.header .nav ul li a {
    display: block;
    padding: 6px 8px;
    line-height: 27px;
    font-size: 19px;
    color: #333;
}

.header .nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
}

.header .search {
    display: flex;
    width: 412px;
    height: 40px;
    margin-left: 64px;
    padding: 0 12px 0 19px;
    background-color: #f3f5f7;
    border-radius: 20px;
}

.header .search input {
    flex: 1;
    border: 0;
    background-color: transparent;
    /* 去掉表单控件的焦点框 */
    outline: none;
}

.header .search input::placeholder {
    font-size: 14px;
    color: #999;
}

.header .search a {
    align-self: center;
    width: 16px;
    height: 16px;
    background-image: url(../images/search.png);
}

.header .user {
    margin-left: 32px;
    margin-top: 4px;
}

.header .user img {
    margin-right: 7px;
    /* vertical-align行内块和行内垂直方向对齐方式 */
    vertical-align: middle;
}

.header .user span {
    font-size: 16px;
    color: #666;
}

.banner {
    height: 420px;
    background-color: #0092cb;
}

.banner .wrapper {
    display: flex;
    height: 420px;
    justify-content: space-between;
    background-image: url(../uploads/banner.png);
}

.banner .left {
    width: 191px;
    height: 100%;
    padding: 3px 20px;
    background-color: rgba(0, 0, 0, 0.42);
}

.banner .left ul li a {
    display: block;
    height: 46px;
    background: url(../images/right.png) no-repeat right center;
    line-height: 46px;
    font-size: 16px;
    color: #fff;
}

.banner .left ul li a:hover {
    background-image: url(../images/right-hover.png);
    color: #00a4ff;
}

.banner .right {
    width: 218px;
    height: 305px;
    margin-top: 60px;
    background-color: #209dd5;
    border-radius: 10px;
}

.banner .right h3 {
    height: 48px;
    padding-left: 14px;
    padding-top: 18px;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
}


.banner .right .content {
    height: 257px;
    padding: 14px;
    padding-top: 2px;
    background-color: #fff;
    border-radius: 10px;
}


.banner .right .content ul li {
    padding-top: 12px;
    padding-bottom: 8px;
    border-bottom: 1px solid #e0e0e0;
}

.banner .right .content ul li h4 a {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: #333;
}

.banner .right .content .desc {
    font-size: 12px;
}

.banner .right .content .desc span {
    color: #00a4ff;
}

.banner .right .content .desc strong {
    font-weight: 400;
    color: #7d7d7d;
}

.banner .right .content>a {
    display: block;
    height: 32px;
    margin-top: 14px;
    text-align: center;
    line-height: 32px;
    background-color: #00a4ff;
    font-size: 14px;
    color: #fff;
    border-radius: 15px;
}

.recommend {
    display: flex;
    height: 60px;
    margin-top: 11px;
    padding: 0 20px;
    background-color: #fff;
    line-height: 60px;
    box-shadow: 0px 1px 2px 0px rgba(211, 211, 211, 0.5);
}

.recommend ul {
    display: flex;
    /* 除去修改兴趣的尺寸，父级剩余尺寸都给ul，实现把修改兴趣挤到最右侧 */
    flex: 1;
}

.recommend ul li a {
    padding: 0 24px;
    border-right: 1px solid #e0e0e0;
    font-size: 18px;
    color: #333;
}

.recommend ul li:first-child a {
    padding: 0;
    border-right: 0;
    color: #00a4ff;
}

.recommend ul li:last-child a {
    border-right: 0;
}

.recommend .modify {
    margin-right: 20px;
}

.course {
    margin-top: 15px;
}

/* 标题 - 公共类与其他与区域共用 */
.hd {
    display: flex;
    justify-content: space-between;
    height: 60px;
    line-height: 60px;
}

.hd h3 {
    font-size: 21px;
    font-weight: 400;
}

.hd .more {
    padding-right: 20px;
    background: url(../images/more.png) no-repeat right center;
    font-size: 14px;
    color: #999;
}

.bd ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bd ul li {
    width: 228px;
    height: 271px;
    margin-bottom: 14px;
    /* background-color: pink; */
}

.bd li .pic {
    height: 156px;
}

.bd li .text {
    padding: 20px;
    height: 115px;
    background-color: #fff;
}

.bd li .text h4 {
    height: 40px;
    margin-bottom: 13px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #333;
}

.bd li .text p {
    font-size: 14px;
    color: #999;
}

.bd li .text p span {
    color: #fa6400;
}

.bd li .text p i {
    font-style: normal;
}

.hd ul {
    display: flex;
}

.hd ul li {
    margin-right: 60px;
    font-size: 16px;
}

.hd ul li a {
    color: #333;
}

.hd ul li .active {
    color: #00a4ff;
}

.divide .bd {
    display: flex;
    /* justify-content: space-between */
}

.divide .bd .left {
    width: 228px;
    height: 338px;
    margin-right: 15px;
}

.divide .bd .right .top {
    width: 957px;
    height: 100px;
    margin-bottom: 15px;
}


.footer {
    height: 273px;
    margin-top: 60px;
    padding-top: 60px;
    background-color: #fff;
}

.footer .wrapper {
    display: flex;
    justify-content: space-between;
}

.footer .left {
    width: 440px;
    /* background-color: pink; */
}

.footer .left p {
    margin-top: 24px;
    margin-bottom: 14px;
    font-size: 12px;
    line-height: 17px;
    color: #666;
}

.footer .left .download {
    display: block;
    width: 120px;
    height: 36px;
    border: 1px solid #00a4ff;
    text-align: center;
    line-height: 34px;
    font-size: 16px;
    color: #00a4ff;
}

.footer .right {
    display: flex;
}

.footer .right dl {
    margin-left: 130px;
}

.footer .right dt {
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 23px;
}
  
.footer .right a {
    font-size: 14px;
    color: #666;
    line-height: 24px;
}